body {
    margin: 30;
    /*font-family: sans-serif;*/
    color: black;
    background: #3d9970;
}

.welcome {
    text-align: center;
}

.front-pic {
    width: 300px;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
}

.description {
    width: 500px;
    margin: 20px auto; /*Vertical Horizontal*/
    text-align: center:
}

.box {
    border: 1px solid #5d6063;
    margin: 10px;
    padding: 5px;
    width: 200px;
    margin: 20px auto; /*Vertical Horizontal*/
    box-sizing: border-box;
}

.button {
    background-color: #5d6063;
    color: #e8fae1;
    width: 190px;
    font-weight: bold;
    text-align: center;
}

.disclaimer {
    color: #ffbf00;
}

.signature {
    /*font-family: Palatino;*/
    padding-left: 30px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

td {
    padding: 1px;
}

.form {
    margin-top: 3px;
}
