{% extends 'base.html' %}

{% block head %}
    <title>Healing Circles Studio</title>
{% endblock %} 

{% block body %}
<div class="welcome">
    <h1>Healing Circles Studio</h1>
    <h2>Welcomes You</h2>
</div>

<div class="front-pic">
        <img src="{{url_for('static', filename='images/CarvingCircle.JPG')}}"
        alt="A circle of wood carving tools."/>
</div>

<div class="description">
Diane has recently opened her home studio.  Join her on a journey of healing through traditional restorative yoga, or aerial restorative yoga.
</div>
<div class="journeys">
    <div class="box">
        <form action='/learn'>
        <input type="submit" class="button" value="Learn More">
        </form>
    </div>
    <div class="box">
        <form action='/book'>
        <input type="submit" class="button" value="Book a Class">
        </form>
    </div>
    <div class="box">
        <form action='/pics'>
        <input type="submit" class="button" value="View Pictures">
        </form>
    </div>
    <div class="disclaimer">
        <h2>This website is still under construction!</h2>
        <h3>Thanks,</h3>
        <h2 class="signature">Adina</h2>
    </div>
</div>
{% endblock %}
